body {
  background-color: black;
  margin: 0;
  padding: 0;
  display: block;
  height: 2000px;
    .title {
      display: block;
      margin: auto;
      overflow: visible;
      overflow-wrap: none;
      line-height: 1.2em;
      text-align: center;
      color: white;
      font-family: 'Pacifico', cursive;
      font-size: 20em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .title-text {
        min-width: 2080px;
      }
    }
    .downArrow {
      display: block;
      width: 400px;
      height: 200px;
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  .me-wrapper {
    height: 1000px;
    width: 1000px;
    display: block;
    margin: auto;
    float: top;
    background-color: #365ADD;
  }
}