$milk: #e0d0d0;
$background_dark: #1e1d1d;
$black: #000000;
$steel: #202838;
$coolFont: "Fjalla One", sans-serif;

.settings-title {
  display: block;
  position: relative;
  font-family: $coolFont;
  font-size: 60px;
  color: $milk;
  top: 40px;
	margin: auto;
	text-align: center;
}

.text {
  position: relative;     
  top: calc(50% - 18.5px);
}
.row-wrapper {
  display: block;
  width: 100%;
}
.row {
  display: block;
  position: relative;
  font-family: $coolFont;
  font-size: 30px;
  color: $milk;
  height: 50px;
  padding: 10px;
  width:100%;
  .rename {
    border-radius: 10px;
    &.from {
      margin: 0 20px;
      height: 30px;
    } &.to {
      margin: 0 20px;
      height: 30px;
    }
  }
}
.settings-shader {
	z-index: 3;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: 0.3s ease-in;
	filter: blur(5px);
	display: none;
	&.active {
		display: block;
	}
}
.dropdown-container {
	display: inline-block;
	font-family: $coolFont;
	margin: 0px 10px;
	transform: translate(0, 20%);
	z-index: 4;
	cursor: pointer;
	.dropdown-init-text {
		display: block;
		text-underline-position: below;
		text-decoration: underline;
		z-index: 5;
	}
	.dropdown-list-container {
		display: none;
		list-style: none;
		z-index: 4;
		top: 100%;
		transform: translate(-50%, 0px);
		position: absolute;
		&.active {
			display: block;
			ul {

				li {
					display: block;
				}
			}
		}
	}
}
.footer {
  display: block;
  height: 4px;
  border-radius: 2px;
  background: $milk;
}
.form-wrapper {
  display: inline-block;
  margin-left: 20px;
  .form {
    display: inline-block;
    height: 35px;
    &.input {
      border-radius: 9px;
      display: inline-block;
      font-family: "Roboto", sans-serif;
      outline: 0;
      background: $milk;
      min-width: 150px;
      border: 0;
      padding: 5px;
      box-sizing: border-box;
      font-size: 20px;
    }
  }
}
.fab {
	display: block;
  z-index: 0;
  width: 30%;
  margin: 0 auto;
  &.circle {
    fill: #85d325;
  }
  &.path {
    transform: translate(-25 -25);
    fill: #fff;
  }
}