$milk: #e0d0d0;
$background_dark: #1e1d1d;
$black: #000000;
$steel: #202838;
$coolFont: "Fjalla One", sans-serif;

.titleSettings {
  display: inline-block;
  position: relative;
  font-family: $coolFont;
  font-size: 60px;
  color: $milk;
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0%);
  transform-origin: center;
}


.text {
  position: relative;     
  top: calc(50% - 18.5px);
}
.row-wrapper {
  display: block;
  width: 100%;
}
.row {
  display: block;
  position: relative;
  font-family: $coolFont;
  font-size: 30px;
  color: $milk;
  height: 50px;
  padding: 10px;
  width:100%;
  .rename {
    border-radius: 10px;
    &.from {
      margin: 0 20px;
      height: 30px;
    } &.to {
      margin: 0 20px;
      height: 30px;
    }
  }
}
.footer {
  display: block;
  height: 4px;
  border-radius: 2px;
  background: $milk;
}
.form-wrapper {
  display: inline-block;
  margin-left: 20px;
  .form {
    display: inline-block;
    height: 35px;
    &.input {
      border-radius: 9px;
      display: inline-block;
      font-family: "Roboto", sans-serif;
      outline: 0;
      background: $milk;
      min-width: 150px;
      border: 0;
      padding: 5px;
      box-sizing: border-box;
      font-size: 20px;
    }
  }
}
.fab {
  width: 120px;
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, 0%);
  transform-origin: center;
  height: 120px;
  &.circle {
    fill: #85d325;
  }
  &.path {
    transform: translate(-25 -25);
    fill: #fff;
  }
}